<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
        <script src="//cdn.jsdelivr.net/npm/simple-crypto-js@2.5.0/dist/SimpleCrypto.min.js"></script>
		<title>BVote - Resultats</title>
        <link href="/style.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
        <p class=”invisible” id="query"> <%=varToPass %></p>
        <div class="login">
            <h1>Aquests són els resultats de les eleccions:</h1>
            <div id="buttonsContainer"></div>
            <button type="button" id="atrasButton">Endarrere</button>

        </div>
        
        <script>
            var elementos = document.getElementById("query").innerHTML;
            const obj = JSON.parse(elementos);
            const buttonsContainer = document.getElementById("buttonsContainer");
            for (var clave in obj){
                let resultado=document.createElement("div")
                resultado.innerHTML="El partit "+clave+" de moment porta "+obj[clave]+" vots.";
                document.getElementById("buttonsContainer").appendChild(resultado);
            }    

            var atras = document.getElementById("atrasButton");
            atras.addEventListener("click",function(){
                let newWind = window.open("/menu", "width=full,height=full"); 
            })
        </script>

        

    </body>
</html>